<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ljr.study">

    <application
        android:name=".LApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <activity
            android:name=".service.TestServiceActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".fragment.TestReceive"></receiver>

        <activity android:name=".ui.MIActivity" />
        <activity android:name=".ui.IncludeAndMergeActivity" />
        <activity android:name=".ui.LanguageActivity" />

        <service android:name=".service.TestService"
            android:process=":binderservice"/>
        <provider
            android:name=".provider.TestContentProvider"
            android:authorities="com.ljr.provider" />
    </application>

</manifest>